# Ignore everything (better safe...)
*
# Whitelist directories (important!)
!*/
# Whitelist parent folders recursively so we can whitelist files later (important!)
!/**/
# Whitelist anything with an extension (important!)
!*.*

# Specific rules may now follow...

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Target directories (build targets produce files here)
build/

.idea
*.generated.go
.envrc.custom
.DS_Store

!Dockerfile-debug
!.githooks/
!.githooks/*
!.githooks/**
.vscode/**