{{- /*gotype: github.com/chrismoran-blockfi/protoc-gen-gotemplate/cmd/protoc-gen-gotemplate/compiler.TemplateContext*/ -}}
# Common variables
{{$cmd := .AddImport "github.com/blockfi/go-micro/v4/cmd"}}{{$cmd}}
{{$cmd2 := .AddImport "github.com/asim/go-micro/v4/cmd"}}{{$cmd2}}

{{.RenderImports}}

{{- $file := .File}}
{{$nfile := .FindProtoFile "helpers.proto"}}PROTO LOOKUP: {{$nfile.Desc}}
{{`{{.Index}}`}}:                                                                               {{.Index}}
{{`{{.Index | add 40000}}`}}:                                                                   {{.Index | add 40000}}
{{`{{.Name}}`}}:                                                                                {{.Name}}
{{`{{.Name | upper}}`}}:                                                                        {{.Name | upper}}
{{`{{.Package | base | replace "." "-"}}`}}                                                     {{.Package | base | replace "." "-"}}
{{`{{$packageDir := .File.Name | dir}}{{$packageDir}}`}}                                        {{$packageDir := .File.Desc.Path | base }}{{$packageDir}}
{{`{{$packageName := .File.Name | base | replace ".proto" ""}}{{$packageName}}`}}               {{$packageName := .File.Desc.Name }}{{$packageName}}
{{`{{$packageImport := .File.Package | replace "." "_"}}{{$packageImport}}`}}                   {{$packageImport := .File.GoImportPath.String | replace "." "_"}}{{$packageImport}}
{{`{{$namespacedPackage := .File.Package}}{{$namespacedPackage}}`}}                             {{$namespacedPackage := .Package}}{{$namespacedPackage}}
{{`{{$currentFile := .File.Proto}}{{$currentFile}}`}}                                           {{$currentFile := .File.Proto}}{{$currentFile}}
# TODO: more variables

// @@protoc_insertion_point(here)

{{range .File.Services}}
{{end}}